build
dns-scanner-client-android-arm64
dns-scanner-client-darwin-amd64
dns-scanner-client-darwin-arm64
dns-scanner-client-linux-amd64
dns-scanner-client-linux-arm64
dns-scanner-client-windows-amd64.exe
dns-scanner-client-windows-arm64.exe
dns-scanner-server-android-arm64
dns-scanner-server-darwin-amd64
dns-scanner-server-darwin-arm64
dns-scanner-server-linux-amd64
dns-scanner-server-linux-arm64
dns-scanner-server-windows-amd64.exe
dns-scanner-server-windows-arm64.exe
server
domainlist.txt
list.txt
config.json
client
ParsaKSH-DNSscanner
Dns-scanner.tar.gz
